:root {
  --mainfont: "Oswald", sans-serif;
  --titlefont: "Playfair Display";
  --beigecolor: #f8ecbf;
  --greycolor: #c6c8cc;
  --lightgreycolor: #c6c8cc;
}

body {
  background-color: whitesmoke;
  scroll-behavior: smooth;
  margin: 0;
}

img {
  width: 100%;
}

h1 {
  font-family: var(--titlefont);
  margin: 0;
  font-size: 3rem;
}

h2 {
  font-size: 1.7rem;
  font-family: var(--titlefont);
}

h3 {
  font-family: var(--titlefont);
  margin: 5px 0;
  line-height: 1.2rem;
  font-size: 1rem;
}

p {
  font-family: var(--mainfont);
  margin: 0;
  line-height: 1.5rem;
}

button {
  font-family: var(--mainfont);
  font-size: 0.8rem;
  background-color: whitesmoke;
  width: 150px;
  height: 25px;
  cursor: pointer;
}

header {
  text-align: center;
  /* background-image: url(img/black2.svg);
  background-size: 100%; */
  background-color: black;
  height: 120px;
  width: 100%;
  color: white;
}

.hide {
  display: none;
}

footer {
  text-align: center;
}

/** House variables **/

.gryffindor {
  --primary-color: #8c1127;
  --secondary-color: #f2ce1b;
  --crest: url(crest/gryffindor.png);
  --crestwidth: 35px;
}

.ravenclaw {
  --primary-color: #0378a6;
  --secondary-color: #f2911b;
  --crest: url(crest/ravenclaw.png);
  --crestwidth: 35px;
}

.slytherin {
  --primary-color: #1f734c;
  --secondary-color: #b3b4b6;
  --crest: url(crest/slytherin.png);
  --crestwidth: 35px;
}

.hufflepuff {
  --primary-color: #fddd78;
  --secondary-color: black;
  --crest: url(crest/hufflepuff.png);
  --crestwidth: 34px;
}

/** list of details **/

#overview {
  text-align: center;
  border-bottom: 1px solid black;
}

#list_details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#list_details p {
  margin: 5px;
  padding: 2px;
}

/** Filter og sort drop down **/

section#filt_sort {
  width: 45vw;
  margin: 20px auto 0;
}

select#filtering,
select#sorting,
#search {
  width: 185px;
  height: 30px;
  font-family: var(--mainfont);
  font-size: 1rem;
  margin: 5px 5px 0 0;
  cursor: pointer;
}

#search_bar {
  width: 225px;
  float: right;
  margin: 10px 0;
}

#search {
  margin: 0;
  cursor: text;
}

#search_bar button {
  background-image: url(img/search.svg);
  background-size: 100%;
  height: 30px;
  width: 30px;
  margin: 5px 0 0 0;
  padding: 5px;
  border: none;
  cursor: pointer;
  background-color: none;
  color: none;
}

/** List/overview **/

#student {
  padding: 10px;
  background-color: var(--beigecolor);
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

#student:hover {
  background-color: #ebdeb4;
}

#list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
  width: 90vw;
  margin: 20px auto;
}

#list_img {
  width: 140px;
  margin: 10px 0;
}

/** badges/buttons **/

#list_buttons {
  display: flex;
  justify-content: center;
}

#make_prefect,
#make_prefect2 {
  background-image: url(img/prefect_badge.svg);
  background-size: 100%;
  height: 43px;
  width: 47px;
}

#squad_button,
#squad_button2 {
  background-image: url(img/squad_badge.svg);
  background-size: 100%;
  height: 42px;
  width: 45px;
}

#expel_button {
  background-image: url(img/expel_badge.svg);
  background-size: 100%;
  height: 40px;
  width: 43px;
}

#make_prefect:hover,
#squad_button:hover,
#expel_button:hover {
  transform: scale(1.05);
}

/**** Popup window *****/

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #6e675b87;
  overflow: scroll;
}

#student_popup {
  width: 80vw;
  min-height: 30vh;
  margin: 1rem auto;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  line-height: 0.5;
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  display: grid;
  grid-template-areas:
    "name close"
    "name . "
    "img nickname"
    "img gender"
    "img house"
    "img bloodstatus"
    "img ."
    "badges ."
    ". theme";
}

#popup_crest {
  background-image: var(--crest);
  background-size: 100%;
  width: var(--crestwidth);
  height: 42px;
  grid-area: crest;
}

.close {
  background: none;
  border: none;
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--secondary-color);
  grid-area: close;
  text-align: right;
}

#popup_name {
  grid-area: name;
}

#popup_img {
  grid-area: img;
  width: 200px;
}

#popup_house {
  grid-area: house;
}

#popup_gender {
  grid-area: gender;
}

#popup_nick {
  grid-area: nickname;
}

#popup_bloodstatus {
  grid-area: bloodstatus;
}

#badges {
  grid-area: badges;
  display: flex;
  padding: 10px 30px;
}

/** Select/option thingy **/

#theme,
label#theme-changer,
option {
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
  font-family: var(--mainfont);
}

label#theme-changer {
  display: flex;
  flex-direction: column;
  grid-area: theme;
}

select#theme {
  margin: 0;
  height: 30px;
  width: 200px;
}

/** Alert popup **/

#alert_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #6e675b87;
  overflow: scroll;
}

#alert_box {
  width: 80vw;
  min-height: 30vh;
  margin: 20vh auto;
  padding: 5rem 2rem;
  background-color: var(--beigecolor);
  border: 2px solid black;
  text-align: center;
}

/** mediaqueries **/

@media screen and (min-width: 600px) {
  #list {
    width: 60vw;
  }

  #student_popup,
  #alert_box {
    width: 500px;
  }

  section#filt_sort {
    width: 60vw;
    margin: 40px auto 0;
  }

  #search_bar {
    margin: 0;
  }
}
